.contenedor{
	
	width: 100%;
	height: 700px;
  	background-color: #0C3F7A;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;	
}

.hijo{
	width: 80%;
	display: flex;
	justify-content: center;
	background-color: white;
}